body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  background: #f9f7fe;
}








.WeatherInfo {
  margin-top: 20px;
}





.WeatherInfo .temperature-container {
  align-items: center;
  margin-top: 30px;
}

.Weather canvas {
  margin: 10px 0;
}


